# iddb source specifications for specific hosts or
# domains.

[HOSTS]
# source specifications for hosts
# '*' is a default when no other match is found

* = 
tarn = server:gwc2c.acc.bessy.de:7643
orange = server:gwc2c.acc.bessy.de:7643

[DOMAINS]
# source specifications for domains
# these may also be partial domains, e.g.
# "mycompany.com" matches "subnet1.mycompany.com"

bessy.de = server:gwc2c.acc.bessy.de:7643
